*{
box-sizing: border-box;
margin: 0;
font-family: arial, sans-serif;
	
}

/*HEADER*/
.header{
	background-image: url(media/bg.jpg);
	background-size: auto;
	height: 550px;
	position: relative;
}

.flex{
	display: flex;
	justify-content: center;
}


.nav-ul{
	position:absolute ;
	left: 50%;
	right: 50%;
	top: 20px;
	z-index: 3;
}

.nav-li{
	list-style: none;
	background-color: #F6F6F6;
	padding: 6px;
	border-radius: 6px;
}

.nav-a{
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 8px 60px;
	color: #fff;
	cursor: pointer;
	font-weight: ;/*fojarme que tan ancho quiero*/
	border-radius: 6px;
	text-align: center;
	box-shadow: 0 4px 6px -6px #222;/*quiero la sombra abajo y para la derecha*/
}

   	.azul{
   		background-color: #2F70B7;
   		border: solid 3px #2F70B7;
   	}

   	.rosa{
   		background-color: #D44295;
   		border:solid 3px #D44295;
   	}

   	.verde{
   		background-color: #008529;
   		border:solid 3px #008529;
   	}

   	.violeta{
   		background-color: #6600a1;
   		border:solid 3px #6600a1;
   	}

   	.nav-a:hover{
   	    background-color: transparent;
   	    color: #000;
   	}


.logo{
	margin-top: 13px;
	max-width: 484px;
	z-index: 2;
	box-shadow: 0 4px 13px -6px #222; 

}

.gif{
	position: absolute;
	left: 170px;
	top: -10px;
	width: 20%;
	max-width: 200px;
	z-index: 1;
	transform: rotate(-5deg);
}

.container{
	margin: 0 auto;
	max-width: 1440px;
	text-align: center;

}

.bg-section{
	background-color: #17223b;
}

/*INICIO*/



.h2{
	padding-top: 100px;
	margin-bottom: 30px;
	font-size: 58px;
	color: #fff;
}

.texto{
	font-size: 18px;
	margin-bottom: 4px;
	color: #fff;
}

.inicio div img{
	margin-top: 50px;
	width: 100%;
}

.fondo{

	background: linear-gradient(45deg, rgba(30,49,67,1) 0%, rgba(31,123,229,1) 100%);
}

.bg{
	background-image:url(media/email-pattern.png);
}


.space-b{
	justify-content: space-between;
}


.width-div{
	width: 720px;
	max-width: 100%;
	/*buscar una mejor clase para ponerle tambien a los div de abajo y al costado equisde*/
}

.h3{
	font-size: 42px;
	margin-bottom: 12px;
	min-width: 298px;
	color: #fff;
}


/* div video*/
.videodiv{
	
	padding: 50px;
	/*min-width: 500px;*/
	/*min-height: 365px;*/
	position: relative;
}
.video{
	max-width: 100%;
	width: 626px;
	border-radius: 10px;
	
	
	
}
.mascara{
	width: 125px;
	position: absolute;
	left:  0px;
	bottom: 0px;

}
/* div video*/


.info{
	align-items: center;
	flex-direction: column;
	min-height: 365px;
	padding: 5px;
	 /*ponerle tambien a los de abajo . buscar mejor clase*/
}

.mac-img{
	
	max-width: 100%;
	
}
/*clientes*/

/*cards*/

.clientes-section{
	padding-bottom: 40px;
}
.card-contenido{
	margin: 0 auto;
	width: 355px;
	border-radius: 10px;
	box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
	padding: 30px;
	background-color: lightgrey;
	margin-top: 50px;
	max-width: 100%;
	
}
  .card-contenido:hover{
    	
	transform: scale(1.1);
	transition: 1s;
}

    

.imagen-card{
    width: 120px;
    height: 120px;
    border: 5px solid #fff;
    box-shadow: 0 0 0 7px #673ab7;
    background-image: url(shiba.jpg);
    background-size: cover;
    margin: 0 auto;

}

.imagen-card2{
	background-image: url(almacenero1.jpeg);
}

.imagen-card3{
	background-image: url(madre.jpeg);
}

.center{
	text-align: center;
}

.titulo{
	font-size: 25px;
	padding-top: 30px;
	margin-bottom: 30px;
}
	


.descripcion{
	line-height: 25px;
}

.subtitulo{
	text-transform: uppercase;
	color: #999;

}

.puntuacion{
	margin-top: 50px;
}

.puntos{
	width: 55px;

}


#clientes{
	position: relative;
}


/*animacion*/
@keyframes pikachuRun {
from { margin-left: -150%;  } to { margin-left: 100%;  }}

.pikachu{
	animation-duration: 10s;
	animation-name: pikachuRun;
	animation-iteration-count: infinite;
	position: absolute;
	bottom: 0px;

}

/*footer*/
.footer{
	background-color: #f7be16;
	padding: 40px 0;
}

.logofooter{
	text-align: left;
	
}
.footer-two ul li{
	list-style: none;
	padding: 20px;
}

@media (max-width: 1263px) {
	


	.flex{
		flex-direction: column;
		align-items: center;
	}

	.reverse{
		flex-direction: column-reverse;
	}

	.nav{
		flex-direction: row;
	}

	.nav-ul{
		flex-direction: row;
	}

	.mascara{
	top:  -62.5px;
	left: 42%;
	
	}

	

	
}

@media (max-width: 752px){
	
	.inicio-iq{
	padding: 10px;
}

	.mascara{
		width: 90px;
	}
	.logo{
		max-width: 242px;
		margin-top: 272px;
	}

	.nav-ul{
		flex-direction: column;
	}

	
    .img-sublime{
    	overflow: hidden;
    }
	.inicio div img {
		width: 900px;
	}
}

@media (max-width: 670px){
	.videodiv{
		padding: 15px;
	}


}






